repos:
  # - repo: https://github.com/timothycrosley/isort
  #   rev: 5.12.0
  #   hooks:
  #     - id: isort
  #       additional_dependencies: [toml]

  # - repo: https://github.com/PyCQA/autoflake
  #   rev: v2.0.2
  #   hooks:
  #     - id: autoflake
  #       args:
  #         - --in-place
  #         - --recursive
  #         - --expand-star-imports
  #         - --remove-all-unused-imports
  #         - --ignore-init-module-imports
  #         - --remove-unused-variables

  # - repo: https://github.com/psf/black
  #   rev: 23.3.0
  #   hooks:
  #     - id: black
  #       args:
  #         - app/

  # - repo: https://github.com/PyCQA/flake8
  #   rev: 6.0.0
  #   hooks:
  #     - id: flake8
  #       args:
  #         - app/

  # black, flake8, isort, autoflakeはより高速で一元管理可能なruffに置き換える
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.264"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        exclude: ^tests/|^alembic/
        additional_dependencies: [pydantic, sqlalchemy, types-PyYAML==6.0.7]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        entry: prettier --write
        files: ^frontend_sample/.*\.(css|less|scsshtml|js|jsxjson|md|markdown|mdown|mkdn|mdx|ts|tsx|yaml|yml)$
        exclude: (^frontend_sample/public/)

  - repo: https://github.com/python-poetry/poetry
    rev: "1.4.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
      - id: poetry-export # for dev
        args:
          [
            "--with",
            "dev",
            "-f",
            "requirements.txt",
            "-o",
            "requirements-dev.txt",
          ]
