repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --recursive
          - --expand-star-imports
          - --remove-all-unused-imports
          - --ignore-init-module-imports
          - --remove-unused-variables

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      args:
        - app/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        args:
          - app/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.942
    hooks:
      - id: mypy
        exclude: ^tests/|^alembic/
        additional_dependencies: [pydantic, sqlalchemy, types-PyYAML==6.0.7]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        entry: prettier --write
        files: ^frontend_sample/.*\.(css|less|scsshtml|js|jsxjson|md|markdown|mdown|mkdn|mdx|ts|tsx|yaml|yml)$
        exclude: (^frontend_sample/public/)
